:root {
  --grey: rgb(241, 236, 228);
  --green: rgb(125, 187, 145);
  --black: rgb(38, 38, 39);
  --hoverPink: #ffc89f;
  --font: 'Lato';
  --sectionMargin: 4rem auto;
}


html {
  color: rgb(38, 38, 39);
  font-size: 16px;
  /* font-size: calc(0.75em + 1vmin); */
  font-family: 'Lato', 'Helvetica Neue';
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }


body {
  margin: 0;
  font-family: 'Lato', 'Helvetica Neue', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* @media screen and (max-width: 600px) {
  html {
    font-size: 1.1vw;
  }
}

@media screen and (max-width: 300px) {
  html {
    font-size: 2vw;
  }
} */